@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Salsa&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
--root{
    --primary-color: #ff7613;
    --text-color: #727171;
}
html{
    font-size: 12px;
}
body{
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}

/* common styles */
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #727171;
}
.title{
    color: #ff7613;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_preTitle{
    font-size: 1.4rem;
    color: #727171;
    font-weight: 300;
}
.item_preTitle1{
    font-size: 1.4rem;
    color: #727171;
    font-weight: 300;
    margin-bottom: 0.7rem;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subTitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: #727171;
}

/* layouts */
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width:768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1/-1;
    margin-bottom: 2rem;

}
.group1, .group2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.group3{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group3 > div{
    flex: 1;
}
/* profile */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_img{
    max-width: 250px;
}
.profile_name_firstName{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color: #ff7613;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
@media only screen and (max-width:768px){
    .profile_container{
        flex-direction: column;
    }
}

/* expertise */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 1.5;
}

/* reference */
.ref_item{
    margin-top: 2rem;
}
.ref_name{
    font-size: 1.6rem;
    font-weight: 700;
}

/* eduction */
.edu-item{
    margin-top: 2rem;
}

/* trainng */
.training_item{
    margin-top: 2rem;
}

/* certification */
.certification_item{
    margin-top: 2rem;
}

/* awards */
.awards_item{
    margin-top: 2rem;
}

/* interest */
.interest_items{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    font-size: 1.5rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #727171;
}
.interest_item svg{
    width: 2rem;
}

/* social */
.social_items{
    margin-top: 2rem;
}
.social_item{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: #727171;

}
.social_item:hover{
    color: #ff7613;
}

hr{
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
@media only screen and (max-width:768px){
    hr{
        margin: 0 auto;
    }
}
